@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Abel", sans-serif !important;
}

body {
  /* background-color: black !important; */
  background-color: #141414 !important;
}
li,
ul {
  list-style: none;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV */

.nav-item {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
}
.nav-item:hover {
  color: red;
}

.btn:hover {
  background-color: red !important;
  border-color: red !important;
}

/* HOME */

.banner {
  height: 800px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  cursor: pointer;
}

.banner-gradient {
  display: flex !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0), transparent) !important;
}

.banner-info {
  width: 40%;
  margin-left: 40px;
}

.banner-info > h1 {
  margin-bottom: 25px;
  font-size: 44px;
  font-weight: 800;
}

.banner-info > p {
  font-size: 20px;
  color: rgba(250, 245, 245, 0.678);
}

.slider-section {
  position: relative;
}

.home-list-title {
  position: relative;
  display: flex;
  align-items: center;
  left: 40px;
  margin: 30px 0 20px;
  padding-right: 80px;
}

.home-list-title:first-child {
  white-space: nowrap;
  font-weight: 700;
}
.react-multi-carousel-track {
  margin: 0 auto !important;
  /* display: flex;
  align-items: center; */
}
.react-multiple-carousel__arrow {
  background: none !important;
}

.react-multiple-carousel__arrow--left {
  left: 15px !important;
}
.react-multiple-carousel__arrow--right {
  right: 15px !important;
}

.react-multi-carousel-item {
  display: flex !important;
  justify-content: center !important;
}

.react-multi-carousel-list {
  overflow: visible !important;
}

.movie-card {
  width: 220px;
  height: 330px;
  border-radius: 20px !important;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.overlay {
  opacity: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px !important;
  padding: 20px;
}

.overlay > h1 {
  padding-top: 20px;
  margin-bottom: 10px;
}

.movie-card:hover {
  width: 300px;
  height: 450px;
  transform-origin: bottom;
  transition: all 0.5s;
}

.movie-card:hover .overlay {
  opacity: 1;
  transition: all 2s;
}

.genre-badge {
  display: inline-block;
  background-color: red;
  padding: 5px;
  border-radius: 8px;
  margin: 0 10px 10px 0;
}

.vote-average {
  font-size: 22px;
}

.adult {
  font-size: 18px;
  margin-top: 10px;
  color: red;
  font-weight: 700;
}

/* DETAIL */

.detail-container {
  margin-top: 50px;
  border-bottom: 1px solid white;
  margin-bottom: 150px;
}

.detail-wrap {
  border-bottom: 1px solid #fff;
}

.detail-genre {
  margin-right: 15px;
  vertical-align: center;
}

.detail-title {
  margin-bottom: 30px;
}

.detail-info-fir {
  padding: 30px 0px;
  border-top: 1px solid #fff;
  font-size: 20px;
}

.detail-info-fir > span {
  margin-left: 5px;
}

.info-option {
  font-weight: 600;
}

.info-option > span {
  font-weight: 400;
}

.g-rated {
  display: inline-block;
  color: rgb(66, 189, 17);
  font-weight: 700;
}

.r-rated {
  display: inline-block;
  color: red;
  font-weight: 700;
}

.detail-info-sec {
  display: flex;
  margin-bottom: 30px;
}

.detail-info-sec > div {
  margin-right: 25px;
}

.detail-imdb {
  display: flex;
  align-items: center;
}

.detail-imdb > span {
  font-size: 24px;
  line-height: 24px;
}

.detail-audience {
  display: flex;
  align-items: center;
}

.detail-audience > span {
  font-size: 24px;
  line-height: 24px;
}

.detail-content {
  padding: 30px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.content-text {
  padding: 0px 10px;
}

/* DETAIL TRAILER */

.detail-trailer {
  padding: 30px 0px;
  border-top: 1px solid #fff;
  cursor: pointer;
}

.trailer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.trailer-area > img {
  cursor: pointer;
}

.modal-90w {
  max-width: 1500px !important;
}

.modal-content {
  background-color: rgba(247, 244, 244, 0.795) !important;
}

/* DETAIL - CAST */

.cast-error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.cast-section {
  padding-bottom: 30px;
}

.sec-row-header {
  align-items: center;
  display: flex;
  margin: 0;
  padding-bottom: 30px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}

.divide-line {
  border-bottom: 1px solid #ffff;
  margin-left: 10px;
  width: 100%;
}

.detail-slide {
  overflow: hidden !important;
}

.credit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-card > img {
  margin-bottom: 10px;
  border-radius: 10px;
}

/* DETAIL - REVIEW */

.no-review {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 35px;
}

.review-card {
  border: 1px solid #ffff;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 310px;
}

.user-profile {
  transform: translateY(-50%);
}

.user-profile > img {
  border-radius: 50%;
  height: 50px;
}

.user-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.user-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info > div > h5 {
  font-weight: 600;
}

.review-rating {
  color: red;
  font-weight: 700;
}

.user-content {
  width: 100%;
  padding: 0 3px 10px 10px;
}

.user-content > p {
  overflow: scroll;
  overflow-x: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: keep-all;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 0;
}
/* MovieList */

.movie-list-card {
  width: 160px;
  height: 240px;
  border-radius: 20px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  margin-bottom: 20px;
  z-index: 0;
}

.movie-list-card:hover {
  transition: all 0.5s;
}

.list-overlay {
  opacity: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px !important;
  padding: 20px;
  border: 2px solid #ffff;
}

.movie-list-card:hover .list-overlay {
  opacity: 1;
  transition: all 2s;
}

.list-genre-badge {
  display: inline-block;
  background-color: red;
  padding: 5px;
  border-radius: 8px;
  margin: 0 5px 5px 0;
}

.vote-average {
  font-size: 15px;
}

.adult {
  font-size: 18px;
  margin-top: 10px;
  color: red;
  font-weight: 700;
}

/* FilterArea */
.sort-form {
  background-color: #fff !important;
  color: black !important;
  border-radius: 4px !important;
}

.MuiMenu-list {
  color: black !important;
}

.sort-form svg path {
  color: black !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #dc3545 !important;
  border-width: 2px;
}

.movies-genres-wrap {
  padding: 0;
}

.movies-genres-wrap > li {
  display: inline-block;
  background-color: #dc3545;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.pagination-section {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  color: #fff !important;
}

.css-1v2lvtn-MuiPaginationItem-root {
  color: #fff !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #dc3545 !important;
  color: #fff !important;
}
